name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt

    - name: Lint code
      run: |
        flake8 api training || true

    - name: Run tests
      run: |
        pytest || echo "No tests yet"

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/ad-generator:latest .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/ad-generator:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v4

    #- name: Configure kubeconfig
    #  run: |
    #    echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > kubeconfig
    #    export KUBECONFIG=$PWD/kubeconfig
    #    kubectl get nodes

    #- name: Deploy to Kubernetes
    #  run: |
    #    kubectl apply -f k8s/deployment.yaml
    #    kubectl apply -f k8s/service.yaml
    #   kubectl apply -f k8s/hpa.yaml
